{% extends 'main/layout.html'%}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>О нас</h1>
        <p>Цели и намерения нашего сайта новостей - быть платформой, которая предоставляет читателям свежую, достоверную и разнообразную информацию. Мы стремимся стать одним из ведущих источников новостей, делящихся важными событиями и актуальными темами города Владивостока.</p>
        <p>Этот сайт разрабатывался Жуковым Александром, студентом ДВФУ.</p>
    <p>Контактные данные:</p>
    <ul>
        <li>Телефон: 89143341390</li>
        <li>Email: <a href="mailto:blue_chill@icloud.com">blue_chill@icloud.com</a></li>
    </ul>
    </div>
{% endblock %}