
body {
    background: rgb(156, 156, 156);
}

aside {
    float: left;
    width: 20%;
    background: rgb(229, 228, 226);
    padding: 2.5%;
    height: 300vh;
    color: black;
    border-right: 5px solid #4d4d4d;
}

aside img{
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 8px;
    font-weight: bold;
    color: rgb(71, 74, 81);
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 70px;
    font-size: 28px;
}

aside ul {list-style: none}

aside ul li {
    color: black;
    display: block;
    margin-top: 20px;
    text-decoration: none;
}

aside ul a {
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.06);
}

main .features {
    float: left;
    margin-top: 30px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px}
main .features p {max-width:500px; margin: 20px auto}

.alert-warning {
    float: left;
    width: 400px;
    margin:20px 34%;
    text-align: left;
    background: rgb(229, 228, 226);
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

